### **Twitter Sentiment Analysis**

In [1]:
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
import pickle
from sklearn.metrics import accuracy_score

In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

In [20]:
df = pd.read_csv('./Twitter_Data.csv' )
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [4]:
df.shape

(75682, 3)

**drop unnecessary columns**

In [5]:
df = df[[2,3]].reset_index(drop=True)

In [6]:
df.head()

          2                                                  3
0  Positive  im getting on borderlands and i will murder yo...
1  Positive  I am coming to the borders and I will kill you...
2  Positive  im getting on borderlands and i will kill you ...
3  Positive  im coming on borderlands and i will murder you...
4  Positive  im getting on borderlands 2 and i will murder ...

In [7]:
# df.columns = ['sentiments','text']
df.rename(columns={2 : "sentiments" , 3 : "text"} , inplace= True)
df.head()

  sentiments                                               text
0   Positive  im getting on borderlands and i will murder yo...
1   Positive  I am coming to the borders and I will kill you...
2   Positive  im getting on borderlands and i will kill you ...
3   Positive  im coming on borderlands and i will murder you...
4   Positive  im getting on borderlands 2 and i will murder ...

In [8]:
df.info() # to see data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75682 entries, 0 to 75681
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentiments  75682 non-null  object
 1   text        74996 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB

In [9]:
df.isna().sum()
df.dropna(inplace= True)

In [10]:
df.head()

  sentiments                                               text
0   Positive  im getting on borderlands and i will murder yo...
1   Positive  I am coming to the borders and I will kill you...
2   Positive  im getting on borderlands and i will kill you ...
3   Positive  im coming on borderlands and i will murder you...
4   Positive  im getting on borderlands 2 and i will murder ...

In [11]:
def process_text(text):
    text = text.lower()
    text = re.sub(f'http\S+','',text)
    text = re.sub(r'@[a-zA-Z0-9_]+','',text)
    text = re.sub(r'#','',text)
    text = re.sub(r'[^a-zA-Z\S]','',text)
    return text

In [12]:
df['clean_text'] = df['text'].apply(process_text)

In [13]:
df.head()

,sentiments,text,clean_text
0,Positive,im getting on borderlands and i will murder yo...,"imgettingonborderlandsandiwillmurderyouall,"
1,Positive,I am coming to the borders and I will kill you...,"iamcomingtothebordersandiwillkillyouall,"
2,Positive,im getting on borderlands and i will kill you ...,"imgettingonborderlandsandiwillkillyouall,"
3,Positive,im coming on borderlands and i will murder you...,"imcomingonborderlandsandiwillmurderyouall,"
4,Positive,im getting on borderlands 2 and i will murder ...,"imgettingonborderlands2andiwillmurderyoumeall,"

In [14]:
df['sentiments'].value_counts()

sentiments
Negative      22624
Positive      20932
Neutral       18393
Irrelevant    13047
Name: count, dtype: int64

In [15]:
count_vectorizer = CountVectorizer(max_features=5000)
count_matrix = count_vectorizer.fit_transform(df['clean_text'])

In [16]:
X_train , X_test , y_train , y_test = train_test_split(count_matrix, df['clean_text'],test_size=0.2 , random_state=42)

In [17]:
# nb_classifier = MultinomialNB()
# nb_classifier.fit(X_train , y_train)

In [18]:
# y_pred = nb_classifier.predict(X_test)
# accuracy = accuracy_score(y_test , y_pred)